<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="{$components_url}bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/notification-icons.html">

{literal}
<style is="custom-style">

    paper-fab.sentiment_badge{
        --paper-fab-background:#e8e8e8;
        --iron-icon-height: 16px;
        --iron-icon-width: 16px;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 8px;
        left: 42px;
        z-index: 1;
        padding:0px;
    }

    .sentiment_badge_neutral{
        color: #2196F3;
    }

    .sentiment_badge_agree{
        color: #4CAF50;
    }

    .sentiment_badge_disagree{
        color: #F44336;
    }

    .ow_comments_ipc{
        width: 98%;
    }

    paper-fab.show_datalet{
        float: left;
        left: 8px;
        bottom: 9px;
        height: 22px;
        width: 22px;
        background: rgb(33, 150, 243);
        --iron-icon-height: 16px;
        --iron-icon-width: 16px;
        padding:0px;
    }

    div.number_of_new_messages_bundle{
        margin-top: 10px;
    }
    div.new_message_bundle{
        left: 95%;
        width: 100px;
        position: relative;
        top: 0px;
        color: transparent;
    }

    @-webkit-keyframes blinker {
        from {opacity: 1.0;}
        to {opacity: 0.3;}
    }

    .newMessagesArrived{
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1.7s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .emphasizedComment{
        border-style: solid;
        border-width: 1px;
        border-color: #111;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1.7s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .datalet_placeholder{
        display: none;
    }
</style>
{/literal}

<div id="{$cmpContext}">
    <div class="ow_comments_list">
        {if !empty($countToLoad) && $countToLoad > 0}
        <div class="ow_comment_list_loader ow_feed_comments_viewall ow_small">
            <a href="javascript://">+<span>{$countToLoad}</span> {$loadMoreLabel}</a>
        </div>
        {/if}

        <div id="new_message_{$cid}" class="layout horizontal new_message_bundle">
            <paper-icon-button id="new_message_icon_{$cmpContext}" class="new_message_icon" icon="icons:alarm-add" commentId="{$cid}" cid="{$cmpContext}"></paper-icon-button>
            <div id="numbers_of_new_messages_{$cid}" class="number_of_new_messages_bundle">0</div>
        </div>

        {if isset($noComments)}
        <div class="ow_nocontent">{text key="base+comment_no_comments"}</div>
        {else}
        {foreach from=$comments item='comment'}
        <div id="comment_container_{$comment.commentId}" commentId="{$comment.commentId}" class="ow_comments_item clearfix">
            <div class="cnx_action" style="display: none">{$comment.cnxAction}</div>
            <div class="ow_comments_item_picture">
                {capture assign=csentiment}commentSentiment{$comment.commentId}{/capture}
                {if ${$csentiment} == 1}
                   <paper-fab mini icon="face" class="sentiment_badge sentiment_badge_neutral"></paper-fab>
                {/if}
                {if ${$csentiment} == 2}
                   <paper-fab mini icon="social:mood" class="sentiment_badge sentiment_badge_agree"></paper-fab>
                {/if}
                {if ${$csentiment} == 3}
                   <paper-fab mini icon="social:mood-bad" class="sentiment_badge sentiment_badge_disagree"></paper-fab>
                {/if}
                {decorator name='avatar_item' data=$comment.avatar}
                {if $comment.datalet == true}
                   <paper-fab mini class="show_datalet" icon="assessment" id="show_datalet_comment_$comment.commentId"></paper-fab>
                {/if}
            </div>
            <div class="ow_comments_item_info" id="comment_{$comment.commentId}">
                <span class="{if !empty($comment.cnxAction)}ow_comments_date_hover {/if}ow_comments_date ow_nowrap ow_tiny ow_remark">{$comment.date}</span>
                <div class="ow_comments_item_header"><a href="{$comment.profileUrl}">{$comment.displayName}</a></div>

                <div class="ow_comments_content ow_smallmargin">
                    <!--<a name="{$comment.commentId}"></a>-->
                    {if !empty($comment.previewMaxChar)}
                    {$comment.content|more:$comment.previewMaxChar}
                    {else}
                    {$comment.content}
                    {/if}
                </div>{$comment.content_add}
            </div>

            {capture assign=clevel}commentsLevel{$comment.commentId}{/capture}
            {if ${$clevel} <= $levelsLimit}
            <div class="spod_tchat_bottom_bar" style="margin-left: 60px;">
                <div class="spod_tchat_bottom_bar_control" style="padding-left: 20px; height: 27px;">
                    <div class="ow_miniic_control" style="width: 100%;padding-top: 5px;" id="comment_bar_{$comment.commentId}">
                        {if ${$clevel} != {$levelsLimit}}
                        <span id="spod_tchat_room_nested_comment_show_{$comment.commentId}" class="ow_miniic_comment"  style="position: relative; float: left;"></span>
                        {capture assign=ccount}commentsCount{$comment.commentId}{/capture}
                        <span id="ccount_{$comment.commentId}" class="spod_tchat_bottom_bar_counter_comments" style="position: relative; float: left;vertical-align: middle;color:#999;padding-left: 5px;">{${$ccount}}</span>
                        {/if}
                    </div>
                </div>

                {capture assign=nested}nestedComments{$comment.commentId}{/capture}
                {if !empty($nested)}
                <div id="nc_{$comment.commentId}" class="nestedComment" style="display: none;">
                    <div class="q-comments">
                        {${$nested}}
                    </div>
                </div>
                {/if}
            </div>
            {/if}

        </div>
        {/foreach}
        {/if}
    </div>
    {if !empty($pages)}
    <div class="ow_paging clearfix ow_stdmargin">
        <span>{text key='base+pages_label'}</span>
        {foreach from=$pages item='page'}
        {if !isset($page.pageIndex)}
        <span>{$page.label}</span>
        {else}
        <a href="javascript://" class="page-{$page.pageIndex}{if isset($page.active) && $page.active} active{/if}">{$page.label}</a>
        {/if}
        {/foreach}
    </div>
    {/if}
</div>
