{literal}
<style is="custom-style">
   /* paper-fab.sentiment-button
    {
        float: left;
        --paper-fab-background:#5B646A;
        --iron-icon-height: 15px;
        --iron-icon-width:  15px;
        height: 20px;
        width:  20px;
        left: 5px;
        padding:0px;
    }*/

   paper-fab.sentiment-button
   {
       float: left;
       /*--paper-fab-background:#2196F3;*/
       --iron-icon-height: 16px;
       --iron-icon-width:  16px;
       height: 20px;
       width:  20px;
       left: 3px;
       bottom: 0px;
       background-color: #2196F3;
       padding: 0px;
       margin: 0px;
       box-shadow:none;
   }

   /*paper-fab.sentiment-button[sentiment="1"]*/
   /*{*/
   /*background-color: #2196F3;*/
   /*}*/

   paper-fab.sentiment-button[sentiment="2"]
   {
       background-color: #4CAF50;
   }

   paper-fab.sentiment-button[sentiment="3"]
   {
       background-color: #F44336;
   }

   paper-header-panel{
       /*height: 8vh;;*/
   }

    .ow_comments_input .ow_attachment_icons {
        position: absolute;
        bottom: 3px;
        right: 4px;
    }

    .ow_comments_input textarea.comments_fake_autoclick {
        padding-bottom: 28px;
        height: 40px;
    }
    .ow_attachments{
        float:right;
    }

    .ow_file_attachment_preview {
        /*margin-top: 0px;
        margin-bottom: 0px;*/
        font-weight:bolder;
        display:none;
        float:left;
        position:relative;
        max-width: 38%;
        padding-bottom: 0px;
    }

    .ow_file_attachment_block1, .ow_file_attachment_block2 {
        float: left;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
    }

    {/literal}
    .ow_attachments a.attach:hover {
        background: url({$theme_image_url}wysiwyg.png) no-repeat scroll -242px -26px #2196f3;
    }

    .ow_file_attachment_close {
        position: absolute;
        top: 0;
        right: 0;
        width: 22px;
        height: 22px;
        background-image: url({$theme_image_url}tag_close_btn.png);
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    {literal}

</style>
{/literal}

<!--<div id="new_message_{$commentId}" class="layout horizontal new_message_bundle">
    <paper-icon-button id="new_message_icon" icon="icons:alarm-add" on-tap="_reloadCommentsList"></paper-icon-button>
    <div id="numbers_of_new_messages_{$commentId}" commentId="{$commentId}" class="number_of_new_messages_bundle">0</div>
</div>-->

<div id="{$cmpContext}" class="{if $mini}ow_comments_mipc{else}ow_comments_ipc{/if}{if $bottomList} ow_comments_form_top{/if}{if empty($formCmp)} ow_comments_no_form{/if}">
    {capture name='comments'}
    {if $topList}
    <div class="comments_list_cont">
        {$commentList}
    </div>
    {/if}
    {if isset($formCmp)}
    <div class="ow_comments_form_wrap_pre" style="display:none;"></div>
    <div class="ow_comments_form_wrap">
        <div class="ow_comments_input_wrap clearfix">
            <div class="ow_comments_item_picture">{decorator name='avatar_item' data=$currentUserInfo}</div>
            <div class="ow_comments_item_info clearfix"><span class="comment_add_arr"></span>
                <div class="ow_comments_input">
                    <textarea id="{$taId}" class="comments_fake_autoclick invitation comment_input">{text key='base+comment_form_element_invitation_text'}</textarea>
                    <span class="ow_attachment_icons">
                        <div class="ow_attachments clearfix" style=" width: 120px;float: right;bottom: 0px;">
                            {if !empty($attch)}<a href="javascript://" class="image" id="{$buttonContId}"></a>{/if}
                            <paper-fab title="{text key='spodpublic+sentiment'}" mini icon="face" class="sentiment-button" id="comment_sentiment_{$commentId}" sentiment="1"></paper-fab>
                            {if !empty($file_attch)}{$file_attch}{/if}
                        </div>
                        <div id="ow_file_attachment_preview_{$temp_attach_uid}" class="ow_file_attachment_preview" style="font-weight:bolder;display:none;float:right;width: 400px;position:relative;"></div>
                    </span>
                </div>
            </div>
        </div>
        <!-- {if !empty($img_attch)}{$img_attch}{/if} -->
        <div id="{$attchId}"></div>

        <div class="clearfix comments_hidden_btn" style="display:none;">
            <span class="ow_attachment_btn">{decorator name='button' langLabel='base+btn_label_send'}</span>
        </div>

    </div>
    {else}
    <div class="ow_smallmargin ow_center ow_comments_msg">{$authErrorMessage}</div>
    {/if}
    {if $bottomList}
    <div class="comments_list_cont">
        {$commentList}
    </div>
    {/if}
    {/capture}
    {if $wrapInBox}
    {block_decorator name='box' type='empty' addClass='ow_add_comments_form ow_stdmargin' langLabel='base+comment_box_cap_label' iconClass='ow_ic_comment'}
    {$smarty.capture.comments}
    {/block_decorator}
    {else}
    {$smarty.capture.comments}
    {/if}
</div>