<!--<div id="{$data.uid}">
    <div class="ow_file_attachment_preview clearfix"{if empty($data.showPreview)} style="display:none;float:left;"{/if}></div>-->
<!--{if empty($data.selector)}
<div class="clearfix ow_status_update_btn_block">
    <span class="ow_attachment_icons">
        <div id="nfa-feed1" class="ow_attachments">-->

              <span id="{$data.uid}" style="padding-left: 8px;">
                  <a title="Attach" href="javascript://" class="attach" style="position: relative;left: 4px;top: 3px;"></a>
              </span>
            <!--</div>
        </span>
    </div>
    {/if}-->
<!--</div>-->

<!--style="background: url({$static_attach_image_url}wysiwyg.png) no-repeat scroll -242px -27px #2196f3;-webkit-border-radius: 50%;height:20px;width:20px;"-->